*==================================================================================*
|                                                                                  |
|                               HARDWARE REQUIREMENTS                              |
|                                                                                  |
*==================================================================================*

* The watch shall be rechargeable from 0% to 100% in less than 2 hrs.
* The watch shall be allow for firmware updates over the air (OTA).
* The watch shall have a battery life of at least 24hrs with all systems active and music enabled
* The watch shall sync activities wirelessly with an external application via bluetooth.
* The watch should be ISO 6425 certified.
* The watch shall have no more than 5 buttons.
* The watch shall be able to stream music to bluetooth headphones.
* The watch shall be no more than 80g with band included.
* The watch should not have a silicone band.
* Watch bands should be swappable with a common (but potentially "proprietary") interface.
* The watch should be available in several different colors.
* Charging the watch should be inductive or magsafe.
* The watch should not have a touchscreen.
* The watch should store 24 hrs of music.
* The watch should be able to count steps.
* The watch should be able to measure pulse oxygen.
* The watch should be able to measure heart rate.
* The watch should be able to connect to GPS in less than 30 seconds cold start.
* The watch should measure temperature.
* The watch should accurately determine depth while diving up to 40m.
* The watch should accurately determine barometric pressure and altitude up to 30000ft.
* The watch should have a compass for determining heading.
* The watch should be able to store and view a map(s) and guide the user along the route.
